*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 6rem 2rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: rgb(0, 0, 0);
  text-transform: none;
  text-decoration: none;
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}